<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.advanced.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberAreaController</display-name>
    <servlet-name>MemberAreaController</servlet-name>
    <servlet-class>com.advanced.session.MemberAreaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberAreaController</servlet-name>
    <url-pattern>/MemberAreaController</url-pattern>
  </servlet-mapping>
</web-app>